<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<div class="card bg-info" [routerLink]="['/simple-form']">
				<div class="card-header">
					Simple Reactive Form
				</div>
				<div class="card-body">
					djbdsj
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card bg-info" [routerLink]="['/form-test']">
				<div class="card-header">
					Reactive Form machin test
				</div>
				<div class="card-body">
					ghjghj
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <router-outlet></router-outlet> -->