<div class="container mt-4">
	<h3>Employee Form</h3>

	<form [formGroup]="employeeForm">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input type="text" id="lastname" class="form-control" formControlName="lastName" placeholder="Last Name">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" placeholder="Email" formControlName="email">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="number" class="form-control" placeholder="Phone" formControlName="phone">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="birthdate">Birth Date</label>
					<input type="date" class="form-control" placeholder="Birth Date" formControlName="birthDate">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="joining">Joining Date</label>
					<input type="date" class="form-control" placeholder="Joining Date" formControlName="joiningDate">
				</div>
			</div>
			<div class="col-md-6">
				<app-skills></app-skills>
			</div>
			<div class="col-md-6">
				<app-departments (outDepartment)="outDepartment($event)"  (outSubDepartment)="outSubDepartment($event)"></app-departments>
			</div>
		</div>
		<div class="mt-4">
			<button class="btn btn-primary"> Submit</button>
		</div>

		<pre>{{employeeForm.value | json}}</pre>
	</form>
</div>